.selectContainer {
  padding-top: 120px;
  /* margin: auto;
    display: flex;
    width: 25%; */
}
.selectButton {
  margin: auto;
  display: flex;
  width: 25%;
  height: 41px;
  background-color: ghostwhite;
  justify-content: center;
  align-items: center;
}
.selectElementData {
  position: fixed;
  top: 30px;
  text-align: center;
  margin: auto;
  width: 100%;
  color: rgb(153, 0, 18);
}

.selectHeading {
  position: fixed;
  top: 60px;
  text-align: center;
  margin: auto;
  width: 100%;
  color: black;
}
